body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.reveal pre {
  font-size: 0.55em;
}
.reveal code {
  font-size: 0.85em;
}
.reveal h2 {
  font-size: 1.5em;
  margin-bottom: 30px;
}
.reveal p,
.reveal ul,
.reveal ol {
  font-size: 0.85em;
}
.reveal .slides section {
  padding: 20px !important;
}

